@font-face {
    font-family: 'PFBeauSansPro-light';
    font-style: normal;
    src: url('Beau_Sans_Pro/PFBeauSansPro-Light.ttf') format('truetype');
}
  
@font-face {
    font-family: 'PFBeauSansPro-light';
    font-style: italic;
    src: url('Beau_Sans_Pro/PFBeauSansPro-LightItal.ttf') format('truetype');
}

body {
    font-family: 'PFBeauSansPro-light';
}