.nav-block{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
  
.comissionList {
    margin-top: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}
  
.listElement {
    font-family: inherit;
    height: 3.5vw;
    margin: 0 0 1vw 0;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 100px;
    font-size: large;
}

.text {
    margin-right: 10%;
    width: 65%;
    font-size: 1.2vw;
    justify-content: center;
    align-content: center;
}
  
.listElement:hover {
    cursor: pointer;
}
  
.listElement:active {
    color: lightcoral;
}

  .listElement:hover {
    transform: scale(1.03);
    transition-duration: 300ms;
    z-index: 2;
}

.listElement {
    background-color: white;
    opacity: 0.7;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    transition-duration: 300ms;
}

.com-icon {
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 5%;
    background-color: #2c3343;
    mask-repeat: no-repeat;
    mask-position: center;
}

.listElement:hover > .com-icon {
    background-color: lightcoral;
}

.listElement:hover > .text {
    color: lightcoral;
}
