
.actions-coloumn{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 40%;
}
.actions-title{
    text-align: center;
    font-style: italic;
    margin-top: 7px;
    font-size: 2vw;
    margin-bottom: 0px;
    color: #2c3343;
}