.about-container{
    background-color: white;
    width: 40%;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-com-title{
    font-style: italic;
    text-align: center;
    font-size: 2vw;
    margin-top: 7px;
    margin-bottom: 0px;
    color: #2c3343;
}

.about-footer{
    color: white;
    font-size: 1.5vw;
    text-align: center;
    background-color: #2c3343;
    height: 5vh;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.exit-com {
    width: 80%;
    background-color: #2c3343;
    height: 5vh;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-style: italic;
    transition-duration: 300ms;
}

.exit-com:hover{
    transform: scale(1.05);
    transition-duration: 300ms;
    cursor: pointer;
}