.about-container{
    background-color: white;
    width: 40%;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 0px black;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-com-title{
    font-style: italic;
    text-align: center;
}

.about-footer{
    color: white;
    font-size: 3vh;
    text-align: center;
    background-color: #2c3343;
    height: 5vh;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}