@font-face {
  font-family: 'PFBeauSansPro-light';
  font-style: normal;
  src: url('../../media/fonts/PFBeauSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PFBeauSansPro-light';
  font-style: italic;
  src: url('../../media/fonts/PFBeauSansPro-LightItal.ttf') format('truetype');
}

@font-face {
  font-family: 'PFBeauSansPro-light';
  font-style: bold;
  src: url('../../media/fonts/PFBeauSansPro-SeBold.ttf') format('truetype');
}

.background {
    font-family: 'PFBeauSansPro-light';
    width: 100%;
    min-height: 100vh;
    background-image: url(../../media/PM-cropped-blured.jpg);
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.mainBlock {
  display: flex;
  margin-top: 14vh;
  margin-left: 10%;
  margin-bottom: 3vh;
  width: 80%;
  /* height: 100%; */
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  width: 77%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
