.pred-control-panel{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pred-control-title {
    font-style: italic;
    text-align: center;
    font-size: 2vw;
    margin-top: 7px;
    margin-bottom: 0px;
    color: #2c3343;
}

.pred-control-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 75%;
}

.pred-add-button{
    width: 80%;
    background-color: #2c3343;
    height: 5vh;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-style: italic;
    transition-duration: 300ms;
}

.pred-add-button:last-child{
    margin-bottom: 2vh;
}

.pred-add-button:hover{
    transform: scale(1.05);
    transition-duration: 300ms;
    cursor: pointer;
}