.about-container{
    background-color: white;
    width: 40%;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.about-com-title {
    text-align: center;
    font-size: 1.7vw;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #2c3343;
}

.about-footer{
    color: white;
    font-size: 1.3vw;
    text-align: center;
    background-color: #2c3343;
    height: 5vh;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.exit-com {
    width: auto;
    padding: 0 5%;
    background-color: brown;
    height: 6vh;
    max-height: 5vw;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    transition-duration: 300ms;
}

.exit-com:hover{
    transform: scale(1.05);
    transition-duration: 300ms;
    cursor: pointer;
}