.reg-background {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    justify-content: center;
    align-items: flex-start;
}

.reg-window {
    display: flex;
    margin-top: 15vh;
    height: auto;
    width: 30%;
    background-color: lightpink;
    flex-direction: column;
    align-items: center;
    border-radius: 3vh 3vh;
    box-shadow: 0px 0px 8px 0px black;
}

.reg-text {
    font-size: 5vh;
    color: #2c3343;
    margin: 3% 0 3% 0;
}

.reg-field {
    width: 60%;
    margin-bottom: 3%;
    font-size: small;
}

.reg-field > p {
    color: #2c3343;
    margin: 0 0 1% 0;
}

.reg-field > input, .reg-field > select {
    outline: none;
    width: 90%;
    height: 6vh;
    border-radius: 1vh 1vh;
    border: none;
    padding: 0 5% 0 5%;
    color: #2c3343;
    font-family: 'PFBeauSansPro-light';
}

.reg-field > input:focus, select:focus {
    border: 1px solid #2c3343;
}

.reg-button {
    display: flex;
    width: 50%;
    background-color: #2c3343;
    border-radius: 100px;
    color: white;
    margin: 3% 0 5% 0;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
}

.reg-button:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 300ms;
    color: lightpink;
}

.reg-close-circle {
    display: flex;
    height: 4vh;
    width: 4vh;
    border-radius: 4vh 4vh;
    background-color: lightpink;
    mask-image: url('../../sprite.svg#cross');
    mask-size: 60% 60%;
    mask-repeat: no-repeat;
    mask-position: center;
    margin-left: 2vh;
    transform: translateY(17vh);
}

.reg-close-circle:hover {
    cursor: pointer;
    background-color: lightcoral;
}

