.new-tasks-container{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    transform: translateY(-4.6vh);
    /* transition-duration: 300ms; */
}

.new-task-title{
    color: white;
    background-color: #2c3343;
    border-radius: 4.6vh;
    height: 6vh;
    text-align: center;
    width: 80%;
    font-style: italic;
    font-weight: 500;
    display: flex;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 4px 0px black; */
}

.new-tasks-list{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}

.new-tasks-list li{
    margin-top:20px;
}