.current-task-item{
    display: flex; 
    justify-content: flex-end;
    height: 6.15vh;  
}
.current-task-left{
    background:url("../spriteV2.png");
    background-color: #fae7de;
    width: 6.15vh;
    border-top-left-radius: 6.15vh;
    border-bottom-left-radius: 6.15vh;
    background-size: 800% 300%;
    background-repeat: no-repeat;
    background-position: 56% 95%;
    margin-right: 0;
    transition-duration: 300ms;
}

.current-task-left:hover{    
    margin-right: 0.5vw;
    transition-duration: 300ms;
}


.current-task-right{
    height: inherit;
    display: flex;
    background-color: #fae7de;
    border-top-right-radius: 6.15vh;
    border-bottom-right-radius: 6.15vh;
    width: 35vw;
}
.current-task-name{
    padding-left: 15px;
    width: 78.5%;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vw;
}
.current-task-buttons{
    display: flex;
    width: 21.5%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.current-task-buttons div{
    transition-duration: 200ms;
}

.current-task-buttons div:hover{
    transform: scale(1.25);
    transition-duration: 200ms;
}
.current-task-send{
    margin-right: 10px;
    background:url("../spriteV2.png");
    background-size: 800% 300%;
    background-repeat: no-repeat;
    background-position: 15% 95%;
    height: 6vh;
    width: 6vh;
}
.current-task-delete{
    background:url("../spriteV2.png");
    background-size: 800% 300%;
    background-repeat: no-repeat;
    background-position: 45% 95%;
    height: 6vh;
    width: 6vh;
}

