.comissions-and-actions{
    background-color: #f6cebd;
    display: flex;
    justify-content: space-around;
    padding: 2vh 0;
    padding-top: 9vh;
}

.task-status-section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
/* color section background #f6cebd */
/* color item background #fae7de */
/* color coloumn item title #2c3343 */
/* relation: 11.5% 38.5% 50% */