.comissions-and-actions{
    background-color: #f6cebd;
    display: flex;
    justify-content: space-around;
    padding: 2vh 0;
    padding-top: 9vh;
}

.task-status-section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
/* color section background #f6cebd */
/* color item background #fae7de */
/* color coloumn item title #2c3343 */
/* relation: 11.5% 38.5% 50% */

.fade-appear{
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active{
    opacity: 1;
    transition: opacity 300ms linear;
}

.fade-enter{
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active{
    opacity: 1;
    transition: opacity 300ms linear 100ms;
}

.fade-exit{
    opacity: 1;
}

.fade-exit.fade-exit-activer{
    opacity: 0;
    transition: opacity 300ms linear;
}
.fade-exit-done{
    opacity: 0;
}