.entry-form{
    width: 30vw;
    height: 10vh;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #2c3343;
    z-index: 3;
    opacity: 1;
    text-align: center;
    box-shadow: 0px 0px 8px 0px #2c3343;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
}
.question-entry-form{
    font-size: 2wv;
}
.entry-form-back{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fix this translate */
    position: absolute;
    transform: translateY(-25vh);
}

.entry-button-form{
    background-color: #2c3343;
    outline: none;
    border: none;
    margin-bottom: 2%;
    margin-top: 4%;
    height: 5vh;
    width: 10vw;
    border-radius: 2.5vh;
    color: white;
    font-family: 'PFBeauSansPro-light';
    font-size: 2vh;
}

.entry-button-form:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.exit-button-form-entry{
    width: 4vh;
    height: 4vh;
    border: 1px solid #2c3343;
    position: absolute;
    transform: translateX(13vw) translateY(-4vh);
    border-radius: 50%;
    mask-image: url('../sprite.svg#cross');
    mask-size: 50% 50%;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #2c3343;
}

.exit-button-form-entry:hover {
    background-color: lightcoral;
    cursor: pointer;
}