@font-face {
  font-family: 'PFBeauSansPro-light';
  font-style: normal;
  src: url('../../media/fonts/PFBeauSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PFBeauSansPro-light';
  font-style: italic;
  src: url('../../media/fonts/PFBeauSansPro-LightItal.ttf') format('truetype');
}

.comissions-and-actions{
    background-color: #f6cebd;
    display: flex;
    justify-content: space-around;
    padding: 2vh 0;
    padding-top: 9vh;
}

.task-status-section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
}
/* color section background #f6cebd */
/* color item background #fae7de */
/* color coloumn item title #2c3343 */
/* relation: 11.5% 38.5% 50% */

/* .fade-enter {
    opacity: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    transform: scale(0.9);
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
    transition-duration: 500ms;
    position: fixed;
    width: 100%;
  }
  .fade-exit {
    transform: scale(1);
    opacity: 1;
    position: fixed;
    width: 100%;
  }
  .fade-exit-active {
    opacity: 0;
    width: 100%;
    transform: scale(0.9);
    position: fixed;
    transition-duration:500ms;
  }
  
  .fade-title-enter {
    opacity: 0;
    z-index: 1;
    width: 100%;
    transform: scale(0.9);
  }
  .fade-title-enter-active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
    transition-duration: 500ms;
    width: 100%;
  }
  .fade-title-exit {
    transform: scale(1);
    opacity: 1;
    position: absolute;
    margin-left: 25%;
    height:30vh;
  }
  .fade-title-exit-active {
    opacity: 0;
    height: 30vh;
    margin-left: 25%;
    transform: scale(0.9);
    position: absolute;
    transition-duration:500ms;
  } */