.comissions-coloumn{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 40%;
}

.com-title{
    text-align: center;
    font-style: italic;
    margin-top: 7px;
    font-size: 1vw;
    color: #2c3343;
}

.com-main-title{
    text-align: center;
    font-style: italic;
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 2vw;
    color: #2c3343;
}
.comissions-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition-duration: 300ms;
}
.com-item{
    font-size: 1vw;
    margin: 10px;
    height: 5vw;
    width: 5vw;
    transition-duration: 300ms;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding: 1%
}

.com-picture{
    background-color: #2c3343;
    background-repeat: no-repeat;
    mask-size: 100% 100%;
    height: 90%;
    width: 90%;
}

.com-picture-pushed{
    background-color: #fae7de;
}

.com-item:hover:not(.com-not-active){
    background-color: #fae7de;
    transition-duration: 300ms;
    border-radius: 10px;
    transform: scale(1.1);
    cursor: pointer;
}

.pm-design .com-picture{
    mask-image: url("../sprite.svg#PM-Design");
    mask-size: 75% 75%;
    mask-repeat: no-repeat;
    mask-position: center;
}
.hr .com-picture{
    mask-image: url("../sprite.svg#HR");
}
.pm-profi .com-picture{
    mask-image: url("../sprite.svg#PM-Partner");
    mask-size: 90% 90%;
    mask-repeat: no-repeat;
    mask-position: center;
}
.pm-photo .com-picture{
    mask-image: url("../sprite.svg#PM-Photo");
    mask-size: 80% 80%;
    mask-repeat: no-repeat;
    mask-position: center;
}
.funcom .com-picture{
    mask-image: url("../sprite.svg#FunCom");
    mask-size: 80% 80%;
    mask-repeat: no-repeat;
    mask-position: center;
}
.sportcom .com-picture{
    mask-image: url("../sprite.svg#sportcom");
    mask-size: 75% 75%;
    mask-repeat: no-repeat;
    mask-position: center;
}
.mounting .com-picture{
    mask-image: url("../sprite.svg#oformiteli");
    mask-size: 80% 80%;
    mask-repeat: no-repeat;
    mask-position: center;
}
.cultmass .com-picture{
    mask-image: url("../sprite.svg#CultMass");
    mask-size: 80% 80%;
    mask-repeat: no-repeat;
    mask-position: center;
}
.PM-Partner .com-picture{
    mask-image: url("../sprite.svg#PM-Partner");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
}
.com-not-active .com-picture{
    opacity: 0.3;
}

.account .com-picture {
    mask-image: url("../sprite.svg#acc-pic");
    mask-size: 80% 80%;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: brown;
}

.acc {
    color: brown;
}
