.comissions-coloumn{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 0px black;
    width: 40%;
}

.com-title{
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.comissions-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition-duration: 300ms;
}
.com-item{
    font-size: 1vw;
    margin: 10px;
    height: 5vw;
    width: 5vw;
    transition-duration: 300ms;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.com-picture{
    background-color: #2c3343;
    background-repeat: no-repeat;
    mask-size: 100% 100%;
    height: 90%;
    width: 90%;
}
.com-item:hover:not(.com-not-active){
    background-color: #fae7de;
    transition-duration: 300ms;
    border-radius: 10px;
    transform: scale(1.1);
}

.pm-design .com-picture{
    mask-image: url("../sprite.svg#PM-Design");
}
.hr .com-picture{
    mask-image: url("../sprite.svg#HR");
}
.pm-profi .com-picture{
    mask-image: url("../sprite.svg#PM-Partner");
}
.pm-photo .com-picture{
    mask-image: url("../sprite.svg#PM-Photo");
}
.funcom .com-picture{
    mask-image: url("../sprite.svg#FunCom");
}
.sportcom .com-picture{
    mask-image: url("../sprite.svg#sportcom");
}
.mounting .com-picture{
    mask-image: url("../sprite.svg#oformiteli");
}
.cultmass .com-picture{
    mask-image: url("../sprite.svg#CultMass");
}
.com-not-active .com-picture{
    opacity: 0.5;
}
