.auth-background {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
}

.auth-window {
    display: flex;
    height: auto;
    width: 30%;
    min-width: 40vh;
    background-color: lightpink;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3vh 3vh;
    box-shadow: 0px 0px 8px 0px black;
}

.auth-text {
    font-size: 3.5vh;
    color: #2c3343;
    margin: 3% 0 3% 0;
    font-weight: bold;
}

.auth-field {
    width: 60%;
    margin-bottom: 3%;
}

.auth-field > p {
    color: #2c3343;
    margin: 0 0 1% 0;
    font-size: 2vh;
}

.auth-field > input:focus {
    border: 1px solid #2c3343;
}

.auth-bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 3% 0 5% 0;
    height: 7vh;
    max-height: 8vw;
}

.auth-button {
    display: flex;
    background-color: #2c3343;
    border-radius: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
    font-size: 2vh;
}

.auth-button:hover {
    transform: scale(1.03);
    transition-duration: 300ms;
    cursor: pointer;
}

.auth-login {
    width: 25%;
}

.auth-reg {
    width: 45%;
    background-color: lightcoral;
}

.auth-field > input {
    outline: none;
    width: 90%;
    height: 6vh;
    max-height: 7vw;
    border-radius: 1vh 1vh;
    border: none;
    padding: 0 5% 0 5%;
    color: #2c3343;
    font-family: 'PFBeauSansPro-light';
    font-size: 1.5vh;
}

.close-circle {
    display: flex;
    height: 4vh;
    width: 4vh;
    border-radius: 4vh 4vh;
    background-color: lightpink;
    mask-image: url('../../../media/sprite.svg#cross');
    mask-size: 60% 60%;
    mask-repeat: no-repeat;
    mask-position: center;
    margin-left: 2vh;
    transform: translateY(-19vh);
}

.close-circle:hover {
    color: white;
    background-color: lightcoral;
    cursor: pointer;
}