.current-task-item-prev{
    display: flex; 
    justify-content: flex-end;
    height: 7vh;  
    width: 100%;
}

.current-task-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.current-task-left{
    background-color: #fae7de;
    width: 7vh;
    border-top-left-radius: 6.15vh;
    border-bottom-left-radius: 6.15vh;
    margin-right: 0;
    transition-duration: 300ms;
}

.current-task-eye{
    mask-image: url("../sprite.svg#eye");
    background-color: #2c3343;
    width: 6.15vh;
    height: 6.15vh;
    border: 1px solid black;
    mask-repeat: no-repeat;
    mask-size: 75% 75%;
    mask-position: center;
}

.current-task-left.current-task-description-show{
    transform: rotate(90deg) translateY(20px) translateX(20px);
}

.current-task-left.current-task-description-hide:hover{    
    margin-right: 0.5vw;
    transition-duration: 300ms;
}


.current-task-right{
    height: inherit;
    display: flex;
    background-color: #fae7de;
    border-top-right-radius: 6.15vh;
    width: 100%;
    border-bottom-right-radius: 6.15vh;
    width: 35vw;
}
.current-task-name{
    padding-left: 15px;
    width: 78.5%;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5vw;
}
.current-task-buttons{
    display: flex;
    width: 21.5%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.current-task-buttons div{
    transition-duration: 200ms;
}

.current-task-buttons div:hover{
    transform: scale(1.25);
    transition-duration: 200ms;
}
.current-task-add{
    margin-right: 10px;
    mask-image: url("../sprite.svg#plus");
    background-color: #2c3343;
    mask-size: 75% 75%;
    height: 6.15vh;
    width: 6.15vh;  
    mask-repeat: no-repeat;
    mask-position: center;
}

.current-task-right{
    transition-duration: 300ms;
}


.current-task-item > .current-task-description-hide{
    height: 0px;
    width: 0px;
    overflow: hidden;
    transition-duration: 300ms;
}


.current-task-item > .current-task-description-show{
    transition-duration: 300ms;
    margin-top: 15px;
    border-radius: 25px;
    height: 10vh;
    width: 100%;
    padding: 20px;
    background-color:#fae7de ;
}