.header {
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    box-shadow: 0px 0px 8px 0px black;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

.title-button {
    font-family: inherit;
    font-size: 1.5vw;
    color: #2c3343;
    font-style: italic;
    background-color: transparent;
    border: none;
    outline: none;
}
  
.title-button:hover {
    color: lightcoral;
    cursor: pointer;
}
 
.personal-info{
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.personal-info-about{
    margin-right: 20px;
    font-size: 2vh;
}
  
.course{
    text-align: right;
}

.del-account {
    text-align: right;
    font-weight: bold;
}

.del-account:hover {
    color: brown;
    cursor: pointer;
}

.acc-action{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    color: #2c3343;
}

/* .acc-action:hover {
    color: lightcoral;
    cursor: pointer;
} */
  
.personal-info-picture{
    display: flex;
    width: 7vh;
    height: 7vh;
    mask-image: url('../../sprite.svg#acc-pic-mem');
    mask-size: 100% 100%;
    mask-position: center;
    background-color: #2c3343;
}

.personal-info-picture:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.auth-or-exit {
    display: flex;
    flex-direction: row;
}
  
.acc-exit{
    font-size: 2vh;
    font-weight: bolder;
}

.acc-exit:hover{
    color: lightcoral;
    cursor: pointer;
}