@font-face {
  font-family: 'PFBeauSansPro-light';
  font-style: normal;
  src: url('../Beau_Sans_Pro/PFBeauSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PFBeauSansPro-light';
  font-style: italic;
  src: url('../Beau_Sans_Pro/PFBeauSansPro-LightItal.ttf') format('truetype');
}

.background {
    font-family: 'PFBeauSansPro-light';
    width: 100%;
    background-image: url(../images/PM-cropped-blured.png);
    background-attachment: fixed;
    background-size: 100% auto;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.mainBlock {
  display: flex;
  margin-top: 14vh;
  margin-left: 10%;
  margin-bottom: 3vh;
  width: 80%;
  height: auto;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  width: 77%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
