.projects-block {
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
}
  
.projects-block {
    background-color: white;
    opacity: 0.7;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    transition-duration: 300ms;
}
  
.block-title {
    color: #2c3343;
    font-style: bolder;
    margin-top: 2%;
    text-align: center;
    font-size: 1.7vw;
}
  
.projects {
    display: flex;
    height: 80%;
    flex-direction: row;
    justify-content: space-evenly;
}
  
.proj-preview {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
}
  
.proj-preview:hover {
    color: lightcoral;
}
  
.project-image {
    margin-top: 3%;
    height: 80%;
    width: 80%;
    background-color: #2c3343;
    opacity: 1.0;
    border-radius: 3%;
    padding-top: 55%;
    transition-duration: 300ms;
}

.projects-block:hover {
    transform: scale(1.01);
    transition-duration: 300ms;
    z-index: 2;
}

.project-image:hover {
  transform: scale(1.02);
  transition-duration: 300ms;
  z-index: 2;
}