

.background {
    width: 100%;
    /* height: auto; */
    background-image: url(PM-cropped-blured.png);
    background-attachment: fixed;
    background-size: 100% auto;
    top: 0;
    left: 0;
    align-items: center;
    overflow: hidden;
}

.header {
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    box-shadow: 0px 0px 8px 0px black;
    flex-direction: column;
    justify-content: center;
}

.mainBlock {
  display: flex;
  margin-top: 120px;
  margin-left: 10%;
  margin-bottom: 3%;
  width: 80%;
  height: 800px;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 50px;
  margin-left: 5%;
}

.nav-block{
  width: 22%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.comissionList {
  margin-top: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.listElement {
  height: 50px;
  background-color: white;
  opacity: 0.7;
  box-shadow: 0px 0px 8px 0px black;
  border-radius: 25px;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: scale(1);
  transition-duration: 300ms;
}
.listElement:hover{
    transform: scale(1.05);
    transition-duration: 300ms;
    z-index: 2;
}

.content {
  width: 75%;
  height: 800px;

  box-shadow: 0px 0px 8px 0px black;
}
