.ended-task-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-radius: 6.15vh;
    background-color: #fae7de;
    font-size: 2vw;
    height: 7vh;
    transition-duration: 300ms;
}

.ended-task-item .ended-task-state:hover{
    transform: scale(1.2);
    transition-duration: 300ms;
}
.ended-task-state{

    mask-image: url("../sprite.svg#reload");
    background-color: #2c3343;
    mask-size: 70% 70%;
    height: 6.15vh;
    width: 6.15vh;
    mask-repeat: no-repeat;
    mask-position: center;
    transition-duration: 200ms;
    margin-right: 10%;
}

.ended-task-name {
    margin-left: 10%;
    font-size: 1.5vw;
}

.ended-task-accepted .ended-task-state{
    background-position: 15% 95%;
}

.ended-task-decline .ended-task-state{
    background-position: 43% 95%;
}

.ended-task-checking .ended-task-state{
    background-position: 30% 95%;
}