.contactBlock {
    flex-direction: column;
    justify-content: flex-start;
    width: 38%;
    height: auto;
    z-index: 1;
}
  
.chairman {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
  
.chairman-link {
    margin-bottom: 15%;
    margin-right: 1%;
    margin-left: 1%;
    color: #2c3343;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.2vw;
}
  
.chairman-link:hover {
    color: lightcoral;
    cursor: pointer;
}
  
.follow-button {
    display: flex;
    width: 70%;
    height: 22%;
    position: absolute;
    top: 89%;
    background-color: #2c3343;
    color: white;
    font-style: bolder;
    font-size: 1.2vw;
    font-family: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    transition-duration: 300ms;
    outline: none;
}
  
.follow-button:hover {
    background-color: lightcoral;
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 300ms;
    z-index: 2;
}
  
.follow-button:active {
    background-color: #2c3343;
}
  
.socialNetworks {
    display: flex;
    padding: 1% 0;
    width: 100%;
    margin-top: 16%;
    height: auto;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.chairman, .socialNetworks {
  background-color: white;
  opacity: 0.7;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  transition-duration: 300ms;
}

.chairman:hover, .socialNetworks:hover {
  transform: scale(1.02);
  transition-duration: 300ms;
  z-index: 1;
}

.social-net-icons {
    display: flex;
    width: 12vw;
    height: 5vw;
    margin-bottom: 2vh;
    flex-direction: row;
    justify-content: space-between;
}

.vk-icon {
    height: 100%;
    width: 5vw;
    mask-image: url('../../../media/sprite.svg#vk');
    background-color: #2c3343;
    mask-size: 100% 100%;
    transition-duration: 300ms;
}

.inst-icon {
    height: 100%;
    width: 5vw;
    mask-image: url('../../../media/sprite.svg#inst');
    background-color: #2c3343;
    mask-size: 100% 100%;
    transition-duration: 300ms;
}

.vk-icon:hover, .inst-icon:hover {
    background-color: lightcoral;
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 300ms;
}